@use "./variables.scss" as *;
@use "./module.scss" as *;
@use "./utilities.scss" as *;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: $purple;
    color: #ffffff;
}

nav {
    display: flex;
    align-items: center;
}

svg {
    height: 24px;
    width: 24px;

    fill: #ffffff;
}

button {
    border: none;

    background-color: transparent;
    cursor: pointer;
    font-family: inherit;
}

input {
    border: none;

    font-family: inherit;
}

input[type="checkbox"] + label {
    display: inline-block;
    height: 10px;
    width: 10px;

    border: 1px solid #ffffff;
}

input[type="checkbox"] ~ label {
    cursor: pointer;
}

input[type="checkbox"]:checked + label {
    background-color: #ffffff;
}

input[type="checkbox"]:checked ~ label.task {
    text-decoration: line-through;
}

.container {
    margin: 8px;
}

@media (min-width: 800px) {
    .container {
        margin: 8px auto;
        max-width: 800px;
    }
}
