@use "./variables.scss" as *;
@use "./module.scss" as *;
@use "./utilities.scss" as *;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: $purple;
    color: #ffffff;
}

nav {
    display: flex;
    align-items: center;
}

svg {
    height: 24px;
    width: 24px;

    fill: #ffffff;
}

input {
    border: none;

    font-family: inherit;
}

.container {
    margin: 8px;
}
