.modal-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.4);
}

.modal {
    height: 100%;
    width: 80%;
    padding: 8px;
    position: absolute;
    top: 0;
    left: 0;

    background-color: #000000;
    transition: transform 0.2s ease-in;
}

.modal-open {
    visibility: visible;
}

.modal-close {
    visibility: hidden;
}

.modal-open .modal {
    transform: translateX(0);
}

.modal-close .modal {
    transform: translateX(-1000px);
}

@media (min-width: 800px) {
    .modal {
        width: 40%;
    }
}
